

body {
    background-color:blanchedalmond;
}
#header{
    font-weight: bold;
    margin:0;
    font-size: 36px;
    color:purple;
    display: flex;
}

#sectiontitles {
    color:#149691;
    text-align:center;
    font-weight:bolder;
    font-style: underline;
    font-family: 'Copperplate'/ 'Copperplate Gothic Light','sans-serif';
    font-size: 200px;
    background-color: yellowgreen;
}
.hero {
    Margin: 0px, 50px, 0px, 50px;
    padding-left: 450px;
}
p {
    color: brown;
    text-align: center;
    font-weight: 600;
    font-family:'Monaco', 'Lucida Console', monospace ;
}

ul {
    color: brown;
    font-weight: 600;
    font-family:'Monaco', 'Lucida Console', monospace ;
}

.linkimages {
    Margin: 0px, 50px, 0px, 50px;
    padding-left: 450px;
}

.linkimages :hover{
    height:110%;
    width:110%;
}

img {
    width:100px;
    height: 150px;
    -ms-flex-align: center;
}
